# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist
build

# Cache
.cache
.turbo

# Environment
.env
.env.local
.env*.local

# Logs
*.log

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Other
.DS_Store
coverage

docs